<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    
    <%/*%> Comment Syntax in EJS <%*/%>
    <%/*%> JS template syntax is ${ any JS codes } but in EJS, the template syntax is <%= any JS codes %> <%*/%>
    <title><%= docTitle %></title>
