<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>

        <h1>404 : Page not found!</h1>
        <a href="/"><button>&#8592; Back to Homepage</button></a>

<%- include('includes/end.ejs') %>
