<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>

<h1 class="mb-3">404 : Page not found!</h1>
<div class="row">
        <div class="col-12 col-md-3">
                <button class="btn btn-success w-100" onclick="history.back()">&#8592; Back to Homepage</button>
        </div>
</div>

<%- include('includes/end.ejs') %>
