<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>

        <h1>404 : Page not found!</h1>
        <input class="btn" onclick="history.back()" value="&#8592; Back to Homepage">

<%- include('includes/end.ejs') %>
